<h2 class="text-center">All users</h2>
<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Last signed in</th>
      <th class="text-center">Books contributed</th>
      <th class="text-center">Books checked out</th>
      <th class="text-center">Books overdue</th>
      <th>Is admin?</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= time_ago_in_words(user.last_sign_in_at) %></td>
      <td class="text-center"><%= user.books_owned.count %></td>
      <td class="text-center"><%= user.borrowed_books.count %></td>
      <td class="text-center"><%= user.overdue_books.count %></td>
      <td><%= user.admin? %></td>
      <td>
        <% if user.admin? %>
          <% unless user == current_user %>
            <%= link_to "Remove admin" %>
          <% end %>
        <% else %>
          <%= link_to "Make admin" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>