<tr>
<td><%= link_to book.title, book_path(book.id) %><br>
      <small><%= book.subtitle %></small>
</td>
<td><%= book.author_name %></td>
<td width="30%"><%= truncate(book.description, length: 100) %></td>
<td><%= link_to book.owner.name, users_admin_path(book.owner) if book.owner %></td>
<td><%= link_to book.borrower.name, users_admin_path(book.borrower) if book.borrowed? %></td>
<td><%= link_to book.location.name, location_path(book.location) if book.location %></td>
<td>
  <% if book.borrowed? && book.borrower != current_user%>
    Borrowed
  <% elsif book.borrower == current_user %>
    <%= button_to 'Return book', { action: :check_in, id: book, method: :post }, data: { confirm: 'Please add the book back to the shelf, thank you!' }, class: 'btn btn-default' %>
  <% else %>
    <%= button_to "Check out", { action: :check_out, id: book, method: :post }, data: { confirm: 'Great! Please click "ok" to confirm book checkout' }, class: 'btn btn-primary' %>
  <% end %>
</td>
</tr>