<br>
<div class="jumbotron">  
  <p class="text-center">Welcome to the library! Check out all the books that people have contributed below, along with those that are activly contributing or reading books!</p>
</div>
<br>
<% if current_user.admin? %>
<%= render :partial => "books/admin_panel" %>
<div class="panel panel-default col-md-9">
<% else %>
<div class="panel panel-default">
<% end %>
  <table class="table table-hover">
    <thead class="active">
      <th width="15%">Title (<small>and subtitle</small>)</th>
      <th width="15%">Author</th>
      <th width="30%">Description</th>
      <th width="10%">Owner</th>
      <th width="10%">Borrower</th>
      <th width="10%">Status?</th>
    </thead>
    <% @books.each do |book| %>
    <tbody>
      <td><%= link_to book.title, book_path(book.id) %><br>
      <small><%= book.subtitle %></small></td>
      <td><%= book.author_name %></td>
      <td width="30%"><%= truncate(book.description, length: 100) %></td>
      <td><%= link_to book.owner.name, users_admin_path(book.owner) if book.owner %></td>
      <td><%= link_to book.borrower.name, users_admin_path(book.borrower) if book.borrowed? %></td>
      <td>
        <% if book.borrowed? && book.borrower != current_user%>
          Borrowed
        <% elsif book.borrower == current_user %>
          <%= button_to 'Return book', { action: :check_in, id: book, method: :post }, class: 'btn btn-default' %>
        <% else %>
          <%= button_to "Check out", { action: :check_out, id: book, method: :post }, class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tbody>
    <% end %>
  </table>
</div>
<div class="text-center">
  <%= paginate @books %>
</div>