<% if current_user.sign_in_count <= 2 %>
<div class="alert jumbotron text-center fade in row"> 
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <div class="col-xs-4 col-md-2"><%= image_tag('giraffe.png') %></div>
  <div class="col-xs-8 col-md-10"><p>Welcome to the library! Check out all the books that people have contributed below (and on the bookshelf) - to add any books, please get in touch with your friendly community librarian.</p></div>
</div>
<% end %>
<br>
<% if current_user.admin? %>
<%= render partial: 'books/admin_panel' %>
<div class="panel panel-default col-md-9">
<% else %>
<div class="panel panel-default">
<% end %>
  <table class="table table-hover">
    <thead class="nav nav-tabs">
      <th role="presentation" class="<%= params['sort'] == 'title' ? 'active' : '' %>" width="15%"><%= sortable "title" %></th>
      <th role="presentation" class="<%= params['sort'] == 'author_last_name' ? 'active' : '' %>" width="15%"><%= sortable "author_last_name", "Author" %></th>
      <th width="30%">Description</th>
      <th>Location</th>
      <th>Status?</th>
    </thead>
    <tbody id="books">
      <%= render @books %>
    </tbody>
  </table>
  <div class="text-center" id="paginator">
    <%= paginate @books, remote: true %>
  </div>
</div>
