  <p>Here is some information on the library</p>
  <br>

<% if current_user.admin? %>
<%= render :partial => "books/admin_panel" %>
<div class="panel panel-default col-md-9">
<% else %>
<div class="panel panel-default">
<% end %>
  <table class="table table-hover">
    <tr class="active">
      <th>Title (<small>and subtitle</small>)</th>
      <th>Author</th>
      <th>Description</th>
      <th>Status?</th>
    </tr>
    <% @books.each do |book| %>
    <tr>
      <td><%= link_to book.title, book_path(book.id) %><br>
      <small><%= book.subtitle %></small></td>
      <td><%= book.author_name %></td>
      <td width="60%"><%= truncate(book.description, length: 100) %></td>
      <td>
        <% if book.is_borrowed? %>
          Borrowed
        <% else %>
          Available
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>