<br>
<div class="row">
  <div class="col-md-8">
    <h1 class="text-center"><%= @book.title %> <%= link_to "(#{@book.location.name})", location_path(@book.location) if @book.location %><br><small><%= @book.subtitle %></small></h1>
    <% if current_user.admin? %>
    <div class="text-center">
      <div class="btn-group">
        <%= link_to 'Edit book details', edit_book_path(@book), class: 'btn btn-default' %>
        <%= link_to 'Delete', book_path(@book), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
    <% end %>
    <br>
    <h3><%= @book.author_name %></h3>
    <blockquote>
      <p><%= @book.description %></p>
    </blockquote>
  </div>
  <div class="col-md-4 text-center">
    <% if @links.image_link %>
      <%= image_tag @links.image_link %>
    <% else %>
      <%= image_tag "http://www.speakers-pro.com/wp-content/uploads/2014/04/no-cover-placeholder.jpg" %>
    <% end %>
    <h5>ISBN: <%= @book.isbn %></h5>
    <% if @links.reviews_link %>
      <h5><a href= <%= @links.reviews_link %> target='new_window'> Reviews</a></h5>
    <% end %>
    <% if @links.marketplace_link %>
      <h5><a href= <%= @links.marketplace_link %> target='new_window'>Buy on Amazon</a></h5>
    <% end %>
    <% if @book.owner %>
    <h5><%= link_to @book.owner.name, users_admin_path(@book.owner) %> contributed this book to the library</h5>
    <% end %>
    <br>
      <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Check for ebook versions of this title at the Los Angeles public library <a href="http://ls2pac.lapl.org/?section=search&term=isbn:<%= @book.isbn %>" target='new_window'>here!</a></p><br>
    <% if @book.borrowed? && @book.borrower != current_user%>
      This book is currently borrowed by <%= link_to @book.borrower.name, users_admin_path(@book.borrower) %>
      <% if current_user.try(:admin?) && @borrower %>
        <div class="well">
        <h4>Admin only</h4>
        <%= button_to "Return book for #{@borrower.name}", { action: :check_in_on_behalf_of, id: @book.id, method: :post }, data: { confirm: 'Please add the book back to the shelf, thank you!' }, class: 'btn btn-default' %>
        </div>
      <% end %>
    <% elsif @book.borrower == current_user %>
      <%= button_to 'Return book', { action: :check_in, id: @book.id, method: :post }, data: { confirm: 'Please add the book back to the shelf, thank you!' }, class: 'btn btn-default' %>
    <% else %>
      <%= button_to "Check out", { action: :check_out, id: @book.id, method: :post }, data: { confirm: 'Great! Please click "ok" to confirm book checkout' }, class: 'btn btn-primary' %>
      <br>
      <% if current_user.try(:admin?) %>
        <div class="block-center well">
          <h4>Admin only</h4><br>
          <%= semantic_form_for @book, url: check_out_on_behalf_of_book_path do |f| %>
            <%= f.input :user_id, as: :select, label: false, collection: User.all(&:name), input_html: { class: "btn btn-default dropdown-toggle" } %>
            <%= f.actions do %>
              <%= f.action :submit, as: :button, label: 'Check out book for user', button_html: { class: "btn btn-default" } %>
            <% end %>
          <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
