<tr>
  <td><%= link_to book.title, book_path(book.id) %></td>
  <td><%= book.author_name %></td>
  <td class="text-center"><%= human_boolean(book.borrowed?) %></td>
  <td><%= link_to book.owner.name, users_admin_path(book.owner) if book.owner %></td>
  <td><%= link_to book.borrower.name, users_admin_path(book.borrower) if book.borrowed? %></td>
</tr>
