<div class="row">
  <div class="col-md-12">
  <h1 class="text-center"><%= @location.name %></h1>
  <h3 class="text-center">Users</h3>
  <table class="table table-hover well">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th class="text-center">Books checked out</th>
          <th class="text-center">Books contributed</th>
        </tr>
      </thead>
      <% @location.users.each do |user| %>
      <tbody>
        <tr>
          <td><%= link_to user.name, users_admin_path(user) %></td>
          <td><%= user.email %></td>
          <td class="text-center"><%= user.books_borrowed.count %></td>
          <td class="text-center"><%= user.books_owned.count %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  <br>
  <h3 class="text-center">Books</h3>
    <table class="table table- well">
      <thead>
        <tr>
          <th>Title and subtitle</th>
          <th>Author</th>
          <th class="text-center">Checked out?</th>
          <th>Owner</th>
          <th>Borrower</th>
        </tr>
      </thead>
      <% @location.books.each do |book| %>
      <tbody>
        <tr>
          <td><%= link_to book.title, book_path(book.id) %></td>
          <td><%= book.author_name %></td>
          <td class="text-center"><%= book.borrowed? %></td>
          <td><%= link_to book.owner.name, users_admin_path(book.owner) if book.owner %></td>
          <td><%= link_to book.borrower.name, users_admin_path(book.borrower) if book.borrowed? %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
