<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li><%= link_to I18n.t('books.main_link'), books_path %><span class="sr-only">(current)</span></li>
    <li><%= link_to I18n.t('locations.main_link'), locations_path %><span class="sr-only">(current)</span></li>
    <!-- <li><a href="#">Checked-out Books</a></li> -->
  </ul>
  <div class="navbar-form navbar-left" role="search">
    <%= form_tag books_path, method: "get" do %>
      <div class="form-group">
      <%= text_field_tag :title_search, params[:title_search], class: "form-control", placeholder: 'Book titles', autocomplete: "off" %>
      </div>
      <%= submit_tag I18n.t('search.button_prompt'), class: "btn btn-default" %>
      <% if params[:query].present? %>
        <%= link_to I18n.t('search.clear_search'), books_path %>
      <% end %>
    <% end %>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <p class="navbar-text">Signed in as <%= current_user.name %></p>
    <li><%= link_to I18n.t('account.log_out'), destroy_user_session_path, method: :delete %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <% if current_user.admin? %>
        <li><%= link_to I18n.t('admin.dashboard'), rails_admin.dashboard_path %></li>
        <% end %>
        <li><%= link_to I18n.t('users.edit_profile'), edit_user_registration_path %></li>
        <li class="divider"></li>
        <li><a href="mailto:v89ofgzidyyxyvv8hkre@boards.trello.com?Subject=[Library Issue]%20from%20<%= current_user.name %>">Report issue</a></li>
      </ul>
    </li>
  </ul>
</div>
