<!DOCTYPE html>
<html>
<head>
  <title>Book Library</title>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<header>
  <div class="container-fluid">
    <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" style="background-color: grey"></span>
          <span class="icon-bar" style="background-color: grey"></span>
          <span class="icon-bar" style="background-color: grey"></span>
        </button>
        <a class="navbar-brand" href="#">Library</a>
      </div>
      <% if user_signed_in? %>
        <%= render partial: "layouts/user_nav" %>
      <% else %>
        <%= render partial: "layouts/loggedout_nav" %>
      <% end %>
    </div>
    </nav>
  </div>
</header>
<body>
  <div class="container">
    <%= render partial: 'layouts/flash' %>
    <%= yield %>
  </div>
</body>
</html>
