<!DOCTYPE html>
<html>
<head>
  <title>BookLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <%= render :partial => "layouts/user_nav" if user_signed_in? && current_user.try(:admin?) == false %> 
  <%= render :partial => "layouts/admin_nav" if user_signed_in? && current_user.try(:admin?) %>
  <%= render :partial => "layouts/loggedout_nav" if !user_signed_in? %>
<body>
  <div class="container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
